<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="csrf-token" content="<%= _csrf %>" >
    
    <% // for reverse-proxy
      var tag1 = "<script>window.sailsPort = " + sails.config.port + "</script>" %>
    <%- tag1 %>

    <% // FaceBook App
      var tag2 = "<script>window.appId = " + sails.config.facebook.appId + "</script>" %>
    <%- tag2 %>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!--  
        Stylesheets and Preprocessors
        ============================== -->
    <!--STYLES-->
    <!--STYLES END-->

    <script src="/js/facebook/FacebookClient.js"></script>

    <!--
      Client-side Templates
      ======================== -->
    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--
      Client-side Javascript
      ======================== -->
    <!--SCRIPTS-->
    <!--SCRIPTS END-->

    <%-scripts%>

  </head>

  <body>
    <script>if(Router) new Router()</script>

    <div id="fb-root"></div>
    <!--<script src="/js/facebook/loading.js"></script>-->

    <%-blocks.header_scripts%>

    <%- body %>

    <%-blocks.footer_scripts%>

  </body>
</html>
