<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--
      Stylesheets and Preprocessors
      ==============================
  -->
  <link rel="stylesheet" href=""/>

<<<<<<< HEAD
  <!--STYLES-->
  <link rel="stylesheet" href="/linker/styles/style.css">
  <!--STYLES END-->

  <%
  // for reverse-proxy
  var tag = "<script>window.sailsPort = " + Hook.config.port + "</script>" %>
  <%- tag %>
=======
    <%
    // for reverse-proxy
    var tag = "<script>window.sailsPort = " + Hook.config.port + "</script>" %>
    <%- tag %>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/vendor/font-awesome-animation/css/font-awesome-animation.min.css"/>

>>>>>>> Add JST template jax-loading

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" href="/vendor/font-awesome-animation/css/font-awesome-animation.min.css"/>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%-stylesheets%>

  <%-scripts%>

</head>

<body>

<%-blocks.header_scripts%>

<<<<<<< HEAD
<%- body %>

<!--
    Client-side Templates
    ========================
-->

<!--TEMPLATES-->
<script type="text/javascript" src="/jst.js"></script>
<!--TEMPLATES END-->
=======
    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--
      Client-side Javascript
      ========================
    -->
    <script src="/vendor/jquery/js/jquery.min.js"></script>
    <script src="/vendor/lodash/js/lodash.min.js"></script>
>>>>>>> Add JST template jax-loading

<!--
  Client-side Javascript
  ========================
-->
<script src="/vendor/jquery/js/jquery.min.js"></script>
<script src="/vendor/lodash/js/lodash.min.js"></script>

<!--SCRIPTS-->
<script src="/linker/js/socket.io.js"></script>
<script src="/linker/js/sails.io.js"></script>
<script src="/linker/js/Socketer.js"></script>
<script src="/linker/js/app.js"></script>
<script src="/linker/js/main.js"></script>
<!--SCRIPTS END-->

<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<%-blocks.footer_scripts%>

</body>
</html>
